<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <img src="https://onlinepngtools.com/images/examples-onlinepngtools/sunset.gif" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">  
          <h3><a class="nav-link active fw-bold" aria-current="page" href="#">Aplikasi</a></h3>
          <!-- <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
    </div>
</nav>
